{% extends "base.html" %}

{% load static %}

{% block dashboard %}

<div>
    <table class="table table-striped" style="width:85%; margin: auto; padding: 10px; border: 5px solid;">
        <thead class="thead-dark">
            <tr>
                <th>Report name</th>
                <th>Assay</th>
                <th>Report id</th>
            </tr>
        </thead>
            <tbody>
                {% for report in report_data %}
                <tr>
                    <td>{{ report.name }}</td>
                    <td>{{ report.run }}</td> 
                    <td>{{ report.dnanexus_file_id }}</td> 
                    <td>{{ report.job_date }}</td> 
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>

{% if user.is_authenticated %}

<br>

<div>
    <table class="table table-striped" style="width:85%; margin: auto; padding: 10px; border: 5px solid;">
        <thead class="thead-dark">
            <tr>
                <th>Filter name</th>
                <th>Filter content</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>Filter name</td>
                    <td>Filter content</td>
                </tr>
            </tbody>
    </table>
</div>

{% endif %}

<br>

<div class="filter" style="width:85%; margin: auto; padding: 10px; ">
    <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%">
        <h5>Subset selection (select at least one)</h5>
        <li>Assay: <select></select></li>
        <li>Runs: <select></select></li>
        <li>Sequencer ID: <select></select></li>
    </div>
    <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%">
        <h5>X axis</h5>
        <li>Metrics: <select></select></li>
        <li>Date range: <select></select> - <select></select></li>
    </div>
    <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%">
        <h5>Y axis</h5>
        <li>Metrics: <select></select></li>
    </div>
</div>

<br>

<div style="padding-left:10%">
    <button>Plot</button>
</div>

{% endblock %}