{% extends "base.html" %}

{% load static %}
{% load render_table from django_tables2 %}
{% load plotly_dash %}

{% block dashboard %}

<div style="width:90%; margin: auto; padding: 10px;">
    {% render_table tables.0 %}
</div>

{% if user.is_authenticated %}
    <br>

    <form action="{% url 'Dashboard' %}" method="post" id="filter_use"> {% csrf_token %}
        <div style="width:90%; margin: auto; padding: 10px;">
            {% render_table tables.1 %}
        </div>
    </form>
{% endif %}

<br>

{% plotly_app_bootstrap name="Plot" aspect="16by9" %}

{% endblock %}