{% extends "base.html" %}

{% load static %}

{% block plot %}

{% if messages %}
<div class="alert alert-warning">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="filter" style="width:90%; margin: auto; padding: 10px; ">
    <!-- 1st inner div: filter for obtaining a subset of runs -->
    {% if form %}
        <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%; padding: 10px;">
            <h5>Plotting filter</h5>
            {% for key, value in form.items %}
                <ul> - <b>{{ key }}</b>: {{ value }}</ul>
            {% endfor %}
        </div>
    {% endif %}
    {% if skipped_projects %}
        <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%; padding: 10px;">
            <p>
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseSkipped" aria-expanded="false" aria-controls="collapseSkipped">
                    Skipped projects (no metrics found)
                </button>
            </p>
            <div class="collapse" id="collapseSkipped">
                <div class="card card-body">
                    {% for metric, projects in skipped_projects.items %}
                        <h6>{{ metric }}</h6>
                        {% for project in projects %}
                            <li>{{ project }}</li>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if skipped_samples %}
        <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:30%; padding: 10px;">
            <p>
                <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseSkipped" aria-expanded="false" aria-controls="collapseSkipped">
                    Skipped samples (no metrics found)
                </button>
            </p>
            <div class="collapse" id="collapseSkipped">
                <div class="card card-body">
                    {% for metric, projects in skipped_samples.items %}
                        <h6>{{ metric }}</h6>

                        {% for project, samples in projects.items %}
                            <h7>{{ project }}</h7>

                            {% for sample in samples %}
                                <li>{{ sample }}</li>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="filter-column" style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; width:10%; padding: 10px;">
        <form action="{% url 'Plot' %}" method="post"> {% csrf_token %}
                <input type="submit" value="Go back to dashboard">
        </form>
    </div>
</div>

<div id="plot-div"></div>

<script>
var plot_data = JSON.parse("{{plot|escapejs}}");
var trend_data = JSON.parse("{{trend|escapejs}}");
plot_data.push(trend_data);
var layout = {
    xaxis: {
        type: "category",
        title: "Date",
    },
    showlegend: false,
    boxgap: 0.1
};
Plotly.newPlot("plot-div", plot_data, layout, {responsive: true});
</script>

{% endblock %}